<%-include("./partials/head")%>
<link rel="stylesheet" href="css/login.css">
<!--carga de css-->
<%-include("./partials/closeHead")%>


<!--carga de html -->
<main class="form-signin w-100 m-auto formulario mt-5" >
  <form>
    <img class="mb-4" src="img/logo.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control mb-3" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control mb-2" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-success mb-3" type="submit">Ingresar</button>    
    <button class="w-100 btn btn-lg btn-dark mb-3" type="submit">Registrarse</button>
    <p class="mt-5 mb-3 text-muted">© Fernando Quezada</p>
  </form>
</main>


    
  

</body></html>

<!-- carga de js-->
<%-include("./partials/foot")%> 
